# Supabase — lấy từ Project Settings > API
NEXT_PUBLIC_SUPABASE_URL=https://xgpkztkrlymfvlbabigl.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InhncGt6dGtybHltZnZsYmFiaWdsIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzk2NzIzMjcsImV4cCI6MjA5NTI0ODMyN30.AvCfBeffsVkVQYYtrUxMPSDGKoIz2UNDN4E5-OayvrE

# Service Role — NEVER expose to client
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InhncGt6dGtybHltZnZsYmFiaWdsIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3OTY3MjMyNywiZXhwIjoyMDk1MjQ4MzI3fQ.h_fvuT6rO6M13XpcFVX53HoFkzmEfUmD78RN7jmziEg
